/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/*
    STRUCTURE
*/


/*
    TYPOGRAPHY
*/


/*
    IMAGES
*/
img {
    width: 100%;
    display: block;
}

/* clearfix - in case you decide to float elements */
.group::after {
  content: "";
  display: table;
  clear: both;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(images/bubbles.jpg) no-repeat;
    background-size: cover;
}

#vidpause {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

/*
    LINKS
*/


/*
    TABLES
*/


/*
    HOME
*/


/*
    ANOTHER PAGE
*/

/* MEDIA QUERIES */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

@media screen and (max-width: 800px) {
    html {
         background: url(../images/bubbles.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }

	#vidpause {
		display: none;
	}
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */
}
